@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

#header, #footer{
    text-align: center;
}
section {border-bottom: 1px solid tomato;}

#data-box{
    padding :30px 100px 0 100px;
}
input,select,button {
    width: 100%;
    margin-bottom : 20px;
}

p{
    color : tomato;
}